[server default]
multi_tier_slave=1
user=root
password=root
# working directory on the manager
manager_workdir=manager
# manager log file
manager_log=/home/ubuntu/manager/app1.log
# working directory on MySQL servers
remote_workdir=/home/ubuntu/manager
ssh_user=ubuntu
master_binlog_dir=/opt/lampp/var/mysql/

[server1]
hostname=54.242.184.151

[server2]
hostname=184.72.85.188


[server3]
hostname=107.20.120.198


